.menu{
	background-image: url(../img/parallax-1.jpg);
	background-size:100%;
	background-repeat:no-repeat;	

}

.imgpre{
	background-image: url(../img/parallax-2.jpg);
	width:150%;
	background-size:100%;
	background-repeat:no-repeat;
}
.amarillo{
	background-color:#D7F339;
}