.menu{
	background-image: url(../img/parallax-1.jpg);
	background-size:100%;
	background-repeat:no-repeat;
	height: $alto;	

}
#video{
	width: 100%;
	height:$alto;

}
.bolsitas{
	background-image: url(../img/parallax-4.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	height: $alto;
}

.imgpre{
	background-image: url(../img/parallax-2.jpg);
	background-size:100%;
	background-repeat:no-repeat;
	height: $alto;
}
.amarillo{
	background-color:#D7F339;
}
.verde{
	background-color: #9DE0A3;

}
.rojo{
	background-color: #E29494;
}
h3{
	color:#DA548D;
}

.tipos{
	text-align: center;
	font-size: letra;
	color:black;
	margin: 2%;
	margin-top: 10%;
	margin-bottom: 10%;
	p{
		padding-left: 10%;
		padding-right: 10%;
	}
}

